// Common colors
$white: #FFFFFF;
$brandBlue: #377DFF;
$brandBlack: #1E1E1E;

// Background colors
$brandLtBlue: #F2F7FF;
$grey: #d9d9d9;

// Text colors
$black: #000000;
$brandMatteBlack: #000000E6;
$brandTorquoise: #6CDAC1;
$brandSalmon: #FF796D;
$brandTxtGrey: #8E989F;
$brandTxtDarkGrey: #495057;

// Border colors
$borderLtBLue: #EFF1FE;
$borderGrey1: #f7f7f7;
$borderGrey2: #f2f2f2;
$borderGrey3: #ebebeb;